HelloWebClient2/HelloWebClient2/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://arthead.se/Customer" elementFormDefault="qualified" targetNamespace="http://arthead.se/Customer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CustomerRequestObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerLastName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenseKey" nillable="true" type="xs:string" />
  <xs:element name="CustomerInfoObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>